@import url("https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Neon&display=swap");

body {
  font-family: "Tilt Neon", sans-serif;
}

.container {
  width: 500px;
  height: auto;
  border: 2px solid;
}

.img-container img {
  width: 500px;
  height: auto;
}

.content {
  width: 500px;
  height: auto;
  text-align: center;
}

.content-text {
  padding: 0 20px;
  text-align: justify;
}

.tag-container {
  padding: 0 20px;
  gap: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 0 0;
  text-align: start;
}

.tag p {
  box-shadow: 2px 4px 2px 1px rgb(67, 66, 66);
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: auto;
  height: auto;
}
